<h1>Welcome to Life Letters</h1>
<p>Send a letter to your loved ones even after your gone</p><br>

<%=image_tag("girl_letter.jpeg", size: "160x100", alt: "Life Letter")%><br>

<%= link_to "Users", users_path %><br>

<%= link_to "Loved Ones", loved_ones_path %><br>



